<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/Copy_of_Listas_BC12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DECLARANDO LISTAS NO PYTHON

nome = 'Bismark'
nomes = ['Bismark', 'Everton', 'Juliana', 'Jéssica', 'Igor']
type(nomes)

lista = [10, 20, 'Produtos', True, False, 10, 10.5, 19.8]

print(nomes[0])
print(nomes[3])
print(nomes[-1])

#LISTA É MUTÁVEL
nomes[0] = 'Marcelo'

print(nomes)

Bismark
Jéssica
Igor
['Marcelo', 'Everton', 'Juliana', 'Jéssica', 'Igor']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
nomes = ['Bismark','Bismark', 'Everton', 'Juliana', 'Jéssica', 'Igor']

for i in range(len(nomes)):
  print(nomes[i])

#INSERINDO VALORES NA MINHA LISTA
nomes.append('Artur')
nomes.insert(2, 'Novo_nome')

#REMOVENDO VALORES NA MINHA LISTA
nomes.pop()
#nomes.pop(0)
nomes.remove('Bismark')
#del nomes[0:3]
print('----------------------')

for i in range(len(nomes)):
  print(nomes[i])

#Pesquisar elementos dentro de uma lista
'Pedro' in nomes

Bismark
Bismark
Everton
Juliana
Jéssica
Igor
----------------------
Bismark
Novo_nome
Everton
Juliana
Jéssica
Igor

False

In [ ]:
#FATIAR UMA LISTA
carros = ['Corolla', 'Golf', 'Hilux', 'Opala', 'HB20']
# carros[indice_inicial:indice_final:incremento/decremento]
carros[0:3]
carros[-3:-1]
carros[0:5:2]
carros[:]
carros[:-1]
carros[::-1]
carros[-1]
carros[-1:-3:-1]
carros[len(carros)-1]

carros.count('Corolla')

carros.reverse()

carros

carros.reverse()

carros

carros.sort()

carros

['Corolla', 'Golf', 'HB20', 'Hilux', 'Opala']

In [ ]:
numeros = [98, 35, 10, 44, 1, 1989, -50, -200, 0]
numeros.sort()
numeros.reverse()

# ou numeros.sort(reverse=True)
numeros

TypeError: ignored

In [ ]:
cores = ['Azul', 'Vermelho', 'Branco']

for variavel in cores:
  print(variavel)



print('------------------------------------------')



for i in range(len(cores)):
  print(cores[i])

Azul
Vermelho
Branco
------------------------------------------
Azul
Vermelho
Branco

In [ ]:
#Inserir em uma lista de tamanho N (inserido pelo usuário), notas de 0 a 10. Em seguida, exibir a média

lista_notas = [] # Iniciar uma lista vazia
n = -1
while n < 0:
  n = int(input('Digite um número: '))

for i in range(n):
  nota = float(input("Digite a nota"))
  while nota < 0 or nota > 10:
    nota = float(input("Nota inválida! Digite a nota novamente"))
  lista_notas.append(nota)

somaNotas = 0

for i in range(len(lista_notas)):
  somaNotas += lista_notas[i]

mediaNotas = somaNotas / len(lista_notas)

print(f'A media das notas lidas é {mediaNotas}')

Digite um número: 3
Digite a nota10
Digite a nota8
Digite a nota6
A media das notas lidas é 8.0