<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/Intro_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=fe3ad9019873a25ec8d3f586234ed5422c92d29104b6f080cfc48a4f1c246d17
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F

In [ ]:
spark = (SparkSession.builder
        .master("local")
        .appName("aula-pyspark")
        .config('spark.ui.port', '4050')
        .getOrCreate())

In [ ]:
spark

In [ ]:
#CRIANDO DATAFRAME NO PYSPARK
esquema = ["nome", "cidade", "estado", "salario"]
dados = [
        ("João da Silva", "São Paulo", "SP", 1200.00),
        ("Maria Ribeiro", "Rio de Janeiro", "RJ", 2400.00),
        ("Pedro José", "Fortaleza", "CE", 4230.00),
        ("Carlos Victor Pereira", "Florianópolis", "SC", 1200.00) 
]
df = spark.createDataFrame(data=dados,schema=esquema)

In [ ]:
#EXIBE O CONTEÚDO DO DATAFRAME DE ACORDO COM A QUANTIDADE ESPECIFICADA ENTRE PARÊNTESES
df.show(4)

+--------------------+--------------+------+-------+
|                nome|        cidade|estado|salario|
+--------------------+--------------+------+-------+
|       João da Silva|     São Paulo|    SP| 1200.0|
|       Maria Ribeiro|Rio de Janeiro|    RJ| 2400.0|
|          Pedro José|     Fortaleza|    CE| 4230.0|
|Carlos Victor Per...| Florianópolis|    SC| 1200.0|
+--------------------+--------------+------+-------+

In [ ]:
#RETORNA O SCHEMA DO DATAFRAME
df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)

In [ ]:
df2 = (
    spark
        .read
        .format("csv")
        .option("header", "true")
        .option("delimiter", ";")
        .option("inferschema", "true")
        .load("/content/drive/MyDrive/Datasets/arquivo_geral.csv")
)

In [ ]:
df2.show(20)

In [ ]:
df2.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

COMANDO SELECT

In [ ]:
# 1ª FORMA
df2.select("regiao", "estado", "casosNovos").show()

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
+------+------+----------+
only showing top 20 rows

In [ ]:
#2ª FORMA
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).show(10)

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
| Norte|    RO|         0|
+------+------+----------+
only showing top 10 rows

FILTER

In [ ]:
#EXIBIR A REGIÃO, ESTADO E ÓBITOS ACUMULADOS DA REGIÃO SUDESTE

df2.select(F.col("regiao"), F.col("estado"), F.col("obitosAcumulados")).filter(F.col("regiao") == "Sudeste").show(20)

+-------+------+----------------+
| regiao|estado|obitosAcumulados|
+-------+------+----------------+
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
|Sudeste|    MG|               0|
+-------+------+----------------+
only showing top 20 rows

In [ ]:
df2.filter(F.col("estado") == "SP").show(5)

+-------+------+----------+----------+---------------+-----------+----------------+
| regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+-------+------+----------+----------+---------------+-----------+----------------+
|Sudeste|    SP|2020-01-30|         0|              0|          0|               0|
|Sudeste|    SP|2020-01-31|         0|              0|          0|               0|
|Sudeste|    SP|2020-02-01|         0|              0|          0|               0|
|Sudeste|    SP|2020-02-02|         0|              0|          0|               0|
|Sudeste|    SP|2020-02-03|         0|              0|          0|               0|
+-------+------+----------+----------+---------------+-----------+----------------+
only showing top 5 rows

In [ ]:
#1ª FORMA - TRABALHANDO COM FILTER ENCADEADO E O AND
df2.filter(F.col("estado") == "MG").filter(F.col("casosNovos") > 10).show(100)

In [ ]:
#2ª FORMA - TRABALHANDO COM FILTER ENCADEADO E O AND
df2.filter("regiao = 'Sudeste' and casosNovos > 30").show(50)

In [ ]:
#3ª FORMA - TRABALHANDO COM FILTER ENCADEADO E O AND
df2.filter((F.col("regiao") == "Sudeste") & (F.col("casosNovos") > 20)).show(30)

In [ ]:
#1ª FORMA - TRABALHANDO COM FILTER ENCADEADO E O OR
df2.filter("regiao = 'Sudeste' or regiao = 'Norte'").show(200)

In [ ]:
#2ª FORMA - TRABALHANDO COM FILTER ENCADEADO E O OR
df2.filter((F.col("regiao") == "Sudeste") | (F.col("regiao") == "Norte")).show(30)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|
| Norte|    RO|2020-02-09|         0|              0|          0|               0|
| Norte|    RO|2020-02-10|         0|              0|          0|               0|
| Norte|    RO|2020-02-11|         0|              0|          0|               0|
| Norte|    RO|2020-02-12|         0|              0|          0|               0|
| Norte|    RO|2020-02-13|         0|              0|          0|               0|
| Norte|    RO|2020-02-14|         0|              0|          0|               0|
| Norte|    RO|2020-02-15|         0|              0|          0|               0|
| Norte|    RO|2020-02-16|         0|              0|          0|               0|
| Norte|    RO|2020-02-17|         0|              0|          0|               0|
| Norte|    RO|2020-02-18|         0|              0|          0|               0|
| Norte|    RO|2020-02-19|         0|              0|          0|               0|
| Norte|    RO|2020-02-20|         0|              0|          0|               0|
| Norte|    RO|2020-02-21|         0|              0|          0|               0|
| Norte|    RO|2020-02-22|         0|              0|          0|               0|
| Norte|    RO|2020-02-23|         0|              0|          0|               0|
| Norte|    RO|2020-02-24|         0|              0|          0|               0|
| Norte|    RO|2020-02-25|         0|              0|          0|               0|
| Norte|    RO|2020-02-26|         0|              0|          0|               0|
| Norte|    RO|2020-02-27|         0|              0|          0|               0|
| Norte|    RO|2020-02-28|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 30 rows

In [ ]:
filtro = F.col("regiao") == "Sudeste"

df2.filter(filtro).show(10)

+-------+------+----------+----------+---------------+-----------+----------------+
| regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+-------+------+----------+----------+---------------+-----------+----------------+
|Sudeste|    MG|2020-01-30|         0|              0|          0|               0|
|Sudeste|    MG|2020-01-31|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-01|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-02|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-03|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-04|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-05|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-06|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-07|         0|              0|          0|               0|
|Sudeste|    MG|2020-02-08|         0|              0|          0|               0|
+-------+------+----------+----------+---------------+-----------+----------------+
only showing top 10 rows

In [ ]:
colunas = ['regiao', 'casosNovos']
df2.select(colunas).show(5)

+------+----------+
|regiao|casosNovos|
+------+----------+
| Norte|         0|
| Norte|         0|
| Norte|         0|
| Norte|         0|
| Norte|         0|
+------+----------+
only showing top 5 rows

WHERE

In [ ]:
df2.where(F.col("regiao") == 'Nordeste').show(10)

In [ ]:
#MOSTRAR APENAS OS ESTADOS DA REGIÃO NORTE E QUE COMECEM COM A LETRA A
df2.where(F.col("regiao") == "Norte").filter("estado LIKE '%A%'").show(20)

In [ ]:
#FILTRO POR ESTADOS QUE COMECEM COM A LETRA A
df2.filter(F.col("estado").startswith("A")).show(10)
 
#FILTRO POR ESTADOS QUE CONTENHAM A LETRA A 
df2.filter(F.col("estado").contains("A")).show(10)

#FILTRO POR ESTADOS QUE TERMINEM COM A LETRA A
df2.filter(F.col("estado").endswith("A")).show(10)

In [ ]:
df2.filter(F.col("estado").like("A%")).show(20)

In [ ]:
#UTILIZANDO O FILTRO COM UMA LISTA DE REGIÕES COM A FUNÇÃO ISIN
lista_regiao = ['Norte', 'Sul']
df2.filter(F.col("regiao").isin(lista_regiao)).show(30)

In [ ]:
#UTILIZANDO O FILTRO COM UMA LISTA DE REGIÕES
df2.filter("regiao in ('Norte', 'Sul')").show(30)