<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/PROJETOINDIVIDUAL_MIRIAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PROJETO INDIVIDUAL MIRIAM SOBRAL - PERFIL CAMPANHA MARKETING 

PROJETO DESTINADO À AVALIAÇÃO DE DESEMPENHO DO CURSO DE ENGENHARIA DE DADOS

ESCOLA: SOULCODE ACADEMY 

TURMA: BC12

PROFs: IGOR GONDIM E BISMARK WILLIAM

DATA DA ENTREGA: 20.03.22

## PROBLEMA: 


Análise do perfil de clientes para campanha de marketing direto. 
O dataset concentra dados tais como: perfil pessoal, econômico e de consumo. 
As informações foram extraídas de um arquivo csv disponibilizado.

## 1 - NÍVEL INFRAESTRUTURA

A)O Dataset deve ser salvo em ambiente cloud(Cloud Storage)

B)O arquivo original e tratado deve ser salvo em MongoDB Atlas em coleções diferentes

C)Os DataFrames devem ser obrigatoriamente salvos em uma bucket do CloudStorage

In [209]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [210]:
!pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2022.2.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: aiohttp<4 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: fsspec==2022.02.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2022.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.3.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (0.13.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.7.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.55.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)

In [211]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
import pandas as pd
from google.cloud import storage
import os
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import *
from pyspark.sql.window import Window

*CONEXÃO DATASET - COLAB >>>>>> GCP*

In [212]:

#A
path = 'https://storage.googleapis.com/soulcodeprojeto/marketing_campaign.csv'

df_pandas = pd.read_csv(path)

CONEXÃO DATASET - COLAB >>>>>> MONGO DB

In [213]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [214]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [215]:
import pandas as pd
import pandera as pa
import numpy as np
import pymongo
from pymongo import MongoClient

In [216]:
#B


client = pymongo.MongoClient('mongodb+srv://miriamgds:delete@cluster0.tx4pn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [217]:
db = client['basesoriginais']
ds_original = db.dataset_originais

In [218]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('aulaSpark')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)
df_spark = spark.createDataFrame(df_pandas)

In [ ]:
#C Confirmação por email

#Usuário: miriamgds
#Senha: delete

## 2 - NÍVEL PANDAS 


A) Realizar a extração corretamente para um dataframe

B) Traduzir para Português-BR

C) Verificar a existência de dados inconsistentes e realizar a limpeza para NaN ou NA

D) Realizar o drop(se necessário) de colunas do dataframe realizando o comentário do porque da exclusão 

E) Todos os passos devem ser comentados

In [219]:

path = 'https://storage.googleapis.com/soulcodeprojeto/marketing_campaign.csv'

df_pandas = pd.read_csv(path)

In [220]:
#A

df_pandas

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [221]:
df_pandas.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

In [222]:
df_pandas.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [223]:
#B 
#Renomeando o dataframe do inglês para o português br


df_pandas.rename(columns={'ID':'ID do cliente', 'Year_Birth':'Nascimento', 'Education':'Graudeinstrução', 
                                      'Marital_Status':'EstadoCivil', 'Income':'Renda', 
                                      'Kidhome':'Crianças', 'Teenhome':'Adolescentes',
                                      'Dt_Customer':'Datadocadastro', 
                                      'Recency':'DataUltimacompra', 
                                      'MntWines':'Gastovinho',
                                      'MntFruits':'Gastofrutas', 
                                      'MntMeatProducts':'Gastocarnes', 
                                      'MntFishProducts':'Gastopescado', 
                                      'MntSweetProducts':'Gastodoces', 
                                      'MntGoldProds':'Gastoemouro', 
                                      'NumDealsPurchases': 'Comprascomdesconto', 
                                      'NumWebPurchases': 'Comprasnosite', 
                                      'NumCatalogPurchases':'Comprasnocatalogo', 
                                      'NumStorePurchases': 'Comprasnaslojas', 
                                      'NumWebVisitsMonth': 'Visitasnosite', 
                                      'AcceptedCmp3': 'PartCampanha3', 
                                      'AcceptedCmp4':'PartCampanha4', 
                                      'AcceptedCmp5':'PartCampanha5', 
                                      'AcceptedCmp1': 'PartCampanha1',
                                      'AcceptedCmp2': 'PartCampanha2', 
                                      'Complain': 'Reclamação2anos',
                                      'Z_CostContact': 'Custodocontato',
                                      'Z_Revenue': 'Receita', 
                                      'Response':'Resposta'},inplace=True)

In [224]:
df_pandas.head(2)

,ID do cliente,Nascimento,Graudeinstrução,EstadoCivil,Renda,Crianças,Adolescentes,Datadocadastro,DataUltimacompra,Gastovinho,...,Visitasnosite,PartCampanha3,PartCampanha4,PartCampanha5,PartCampanha1,PartCampanha2,Reclamação2anos,Custodocontato,Receita,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0

In [225]:
#C 
#Limpeza para NaN ou NA
#retornar um resumo estatístico das variáveis numéricas

df_pandas.describe()

,ID do cliente,Nascimento,Renda,Crianças,Adolescentes,DataUltimacompra,Gastovinho,Gastofrutas,Gastocarnes,Gastopescado,...,Visitasnosite,PartCampanha3,PartCampanha4,PartCampanha5,PartCampanha1,PartCampanha2,Reclamação2anos,Custodocontato,Receita,Resposta
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [226]:
#Resumo de valores não-nulos encontrados


df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID do cliente       2240 non-null   int64
 1   Nascimento          2240 non-null   int64
 2   Graudeinstrução     2240 non-null   object
 3   EstadoCivil         2240 non-null   object
 4   Renda               2216 non-null   float64
 5   Crianças            2240 non-null   int64
 6   Adolescentes        2240 non-null   int64
 7   Datadocadastro      2240 non-null   object
 8   DataUltimacompra    2240 non-null   int64
 9   Gastovinho          2240 non-null   int64
 10  Gastofrutas         2240 non-null   int64
 11  Gastocarnes         2240 non-null   int64
 12  Gastopescado        2240 non-null   int64
 13  Gastodoces          2240 non-null   int64
 14  Gastoemouro         2240 non-null   int64
 15  Comprascomdesconto  2240 non-null   int64
 16  Comprasnosite       2240 non-null   int64
 17  Comprasnocatalogo   2240 non-null   int64
 18  Comprasnaslojas     2240 non-null   int64
 19  Visitasnosite       2240 non-null   int64
 20  PartCampanha3       2240 non-null   int64
 21  PartCampanha4       2240 non-null   int64
 22  PartCampanha5       2240 non-null   int64
 23  PartCampanha1       2240 non-null   int64
 24  PartCampanha2       2240 non-null   int64
 25  Reclamação2anos     2240 non-null   int64
 26  Custodocontato      2240 non-null   int64
 27  Receita             2240 non-null   int64
 28  Resposta            2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [227]:
#Soma dos valores nulos encontrados
#Foram encontrados 24 valores NAN em Renda que foram tratados. Optou-se por incluir nas células a mediana da renda anual. 

df_pandas.isnull().sum()

ID do cliente          0
Nascimento             0
Graudeinstrução        0
EstadoCivil            0
Renda                 24
Crianças               0
Adolescentes           0
Datadocadastro         0
DataUltimacompra       0
Gastovinho             0
Gastofrutas            0
Gastocarnes            0
Gastopescado           0
Gastodoces             0
Gastoemouro            0
Comprascomdesconto     0
Comprasnosite          0
Comprasnocatalogo      0
Comprasnaslojas        0
Visitasnosite          0
PartCampanha3          0
PartCampanha4          0
PartCampanha5          0
PartCampanha1          0
PartCampanha2          0
Reclamação2anos        0
Custodocontato         0
Receita                0
Resposta               0
dtype: int64

In [228]:
 #Mostrar as 10 colunas com mais valores ausentes para esse dataset

df_pandas.isnull().sum().sort_values(ascending=False)[:10]

Renda                 24
ID do cliente          0
Comprascomdesconto     0
Receita                0
Custodocontato         0
Reclamação2anos        0
PartCampanha2          0
PartCampanha1          0
PartCampanha5          0
PartCampanha4          0
dtype: int64

In [229]:
 df_pandas.Graudeinstrução.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [198]:
df_pandas['Graudeinstrução']= df_pandas['Graudeinstrução'].str.replace('Graduation', 'Graduado').str.replace('PhD', 'PhD').replace('Master', 'Mestrado').replace('Basic', 'Basico').replace('2n Cycle','Segundo Ciclo' )

In [199]:
df_pandas.Graudeinstrução.unique()

array(['Graduado', 'PhD', 'Mestrado', 'Basico', 'Segundo Ciclo'],
      dtype=object)

In [200]:
df_pandas.EstadoCivil.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [201]:
df_pandas['EstadoCivil']=df_pandas['EstadoCivil'].str.replace('Single', 'Solteiro').replace('Together', 'Juntos').replace('Married','Casado').replace('Divorced', 'Divorciado').replace('Absurd', 'Absurdo').replace('YOLO', 'Só se vive uma vez').replace('Widow', 'Viúvo').replace('Alone', 'Sozinho')

In [202]:
df_pandas.EstadoCivil.unique()

array(['Solteiro', 'Juntos', 'Casado', 'Divorciado', 'Viúvo', 'Sozinho',
       'Absurdo', 'Só se vive uma vez'], dtype=object)

In [203]:
#D 
#Dropando colunas

df_pandas.groupby(['Custodocontato']).Custodocontato.count()

Custodocontato
3    2240
Name: Custodocontato, dtype: int64

In [231]:
## Extrair a mediana da Renda Anual 
Renda_mediana = df_pandas.Renda.median()

In [230]:
Renda_mediana

51381.5

In [233]:
# Preenchendo a coluna com a mediana
df_pandas.fillna(Renda_mediana, inplace=True)

In [207]:
# checar se há valor ausente

df_pandas.Renda.isnull().sum()

0

In [208]:
df_pandas.groupby(['Renda']).size().sort_values(ascending=False)

Renda
51381.5     24
7500.0      12
35860.0      4
46098.0      3
48432.0      3
            ..
42081.0      1
42033.0      1
42021.0      1
42011.0      1
666666.0     1
Length: 1975, dtype: int64

## 3 - NÍVEL PYSPARK


A) Deverá ser montada a estrutura do DataFrame utilizando o StructType.

B) Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.

C) Verificar a necessidade de drop em colunas ou linhas. Caso seja necessário, fazer comentário do porque.

D) Realizar a mudança de nome de pelo menos 2 colunas.

E) Deverá criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)

F) Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

G) Utilizar pelo menos duas Window Functions

In [ ]:
#A)

spark = (
    SparkSession.builder
                .master('local')
                .appName('StructType')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)
df1_spark = spark.createDataFrame(df_pandas)

In [ ]:
df1_spark.show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DataUltimacompra|Gastovinho|Gastofrutas|Gastocarnes|Gastopescado|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|         5524|      1957|       Graduado|   Solteiro|58138.0|       0|           0|    04-09-2012|              58|       635|         88|        546|         172|        88|         88|                 3|            8|               10|              4|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|         2174|      1954|       Graduado|   Solteiro|46344.0|       1|           1|    08-03-2014|              38|        11|          1|          6|           2|         1|          6|                 2|            1|                1|              2|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4141|      1965|       Graduado|     Juntos|71613.0|       0|           0|    21-08-2013|              26|       426|         49|        127|         111|        21|         42|                 1|            8|                2|             10|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6182|      1984|       Graduado|     Juntos|26646.0|       1|           0|    10-02-2014|              26|        11|          4|         20|          10|         3|          5|                 2|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         5324|      1981|            PhD|     Casado|58293.0|       1|           0|    19-01-2014|              94|       173|         43|        118|          46|        27|         15|                 5|            5|                3|              6|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         7446|      1967|       Mestrado|     Juntos|62513.0|       0|           1|    09-09-2013|              16|       520|         42|         98|           0|        42|         14|                 2|            6|                4|             10|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|          965|      1971|       Graduado| Divorciado|55635.0|       0|           1|    13-11-2012|              34|       235|         65|        164|          50|        49|         27|                 4|            7|                3|              7|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6177|      1985|            PhD|     Casado|33454.0|       1|           0|    08-05-2013|              32|        76|         10|         56|           3|         1|         23|                 2|            4|                0|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4855|      1974|            PhD|     Juntos|30351.0|       1|           0|    06-06-2013|              19|        14|          0|         24|           3|         3|          2|                 1|            3|                0|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|         5899|      1950|            PhD|     Juntos| 5648.0|       1|           1|    13-03-2014|              68|        28|          0|          6|           1|         1|         13|                 1|            1|                0|              0|           20|            1|            0|            0|            0|            0|              0|             3|     11|       0|
|         1994|      1983|       Graduado|     Casado|51381.5|       1|           0|    15-11-2013|              11|         5|          5|          6|           0|         2|          1|                 1|            1|                0|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|          387|      1976|         Basico|     Casado| 7500.0|       0|           0|    13-11-2012|              59|         6|         16|         11|          11|         1|         16|                 1|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2125|      1959|       Graduado| Divorciado|63033.0|       0|           0|    15-11-2013|              82|       194|         61|        480|         225|       112|         30|                 1|            3|                4|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         8180|      1952|       Mestrado| Divorciado|59354.0|       1|           1|    15-11-2013|              53|       233|          2|         53|           3|         5|         14|                 3|            6|                1|              5|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2569|      1987|       Graduado|     Casado|17323.0|       0|           0|    10-10-2012|              38|         3|         14|         17|           6|         1|          5|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2114|      1946|            PhD|   Solteiro|82800.0|       0|           0|    24-11-2012|              23|      1006|         22|        115|          59|        68|         45|                 1|            7|                6|             12|            3|            0|            0|            1|            1|            0|              0|             3|     11|       1|
|         9736|      1980|       Graduado|     Casado|41850.0|       1|           1|    24-12-2012|              51|        53|          5|         19|           2|        13|          4|                 3|            3|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4939|      1946|       Graduado|     Juntos|37760.0|       0|           0|    31-08-2012|              20|        84|          5|         38|         150|        12|         28|                 2|            4|                1|              6|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6565|      1949|       Mestrado|     Casado|76995.0|       0|           1|    28-03-2013|              91|      1012|         80|        498|           0|        16|        176|                 2|           11|                4|              9|            5|            0|            0|            0|            1|            0|              0|             3|     11|       0|
|         2278|      1985|  Segundo Ciclo|   Solteiro|33812.0|       1|           0|    03-11-2012|              86|         4|         17|         19|          30|        24|         39|                 2|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
only showing top 20 rows

In [182]:
esquema = (
    StructType([
        StructField("ID do cliente",StringType(), True),
        StructField("Nascimento", DataType(), True),
        StructField("Graudeinstrução", StringType(), True),
        StructField("EstadoCivil", StringType(), False),
        StructField("Renda", IntegerType(), True),
        StructField("Crianças", IntegerType(), True),
        StructField("Adolescentes", IntegerType(), True),
        StructField('Datadocadastro', StringType(), True),
        StructField('Dataultimacompra', IntegerType(), True),
        StructField('Gastovinho', IntegerType(), True),
        StructField('Gastofrutas',IntegerType(), True), 
        StructField('Gastocarnes', IntegerType(), True),
        StructField('Gastopescado', IntegerType(), True),
        StructField('Gastodoces', IntegerType(), True),
        StructField('Gastoemouro',IntegerType(), True),
        StructField('Comprascomdesconto', IntegerType(), True),
        StructField('Comprasnosite', IntegerType(), True),
        StructField('Comprasnocatalogo', IntegerType(), True),
        StructField('Comprasnaslojas', IntegerType(), True),
        StructField('Visitasnosite', IntegerType(), True), 
        StructField('PartCampanha3',IntegerType(), True),
        StructField('PartCampanha4', IntegerType(), True),
        StructField('PartCampanha5', IntegerType(), True),
        StructField('PartCampanha1', IntegerType(), True),
        StructField('PartCampanha2', IntegerType(), True),
        StructField('Reclamação2anos', IntegerType(), True),
        StructField('Custodocontato', IntegerType(), True),
        StructField('Receita', IntegerType(), True),
        StructField('Resposta', IntegerType(), True),
    ])
)

In [183]:
df1_spark.printSchema()

root
 |-- ID do cliente: long (nullable = true)
 |-- Nascimento: long (nullable = true)
 |-- Graudeinstrução: string (nullable = true)
 |-- EstadoCivil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- Crianças: long (nullable = true)
 |-- Adolescentes: long (nullable = true)
 |-- Datadocadastro: string (nullable = true)
 |-- DataUltimacompra: long (nullable = true)
 |-- Gastovinhos: long (nullable = true)
 |-- Gastofrutas: long (nullable = true)
 |-- Gastocarnes: long (nullable = true)
 |-- Gastopescados: long (nullable = true)
 |-- Gastodoces: long (nullable = true)
 |-- Gastoemouro: long (nullable = true)
 |-- Comprascomdesconto: long (nullable = true)
 |-- Comprasnosite: long (nullable = true)
 |-- Comprasnocatalogo: long (nullable = true)
 |-- Comprasnaslojas: long (nullable = true)
 |-- Visitasnosite: long (nullable = true)
 |-- PartCampanha3: long (nullable = true)
 |-- PartCampanha4: long (nullable = true)
 |-- PartCampanha5: long (nullable = true)
 |-- PartCampanha1: long (nullable = true)
 |-- PartCampanha2: long (nullable = true)
 |-- Reclamação2anos: long (nullable = true)
 |-- Custodocontato: long (nullable = true)
 |-- Receita: long (nullable = true)
 |-- Resposta: long (nullable = true)

In [ ]:
#B - Realizado em Pandas - Ver item

In [ ]:
#C - DROP

In [184]:
#D Realizar a mudança de nome de pelo menos 2 colunas.


# change the college column name to university 
# and ID to student_id
df1_spark = df1_spark.withColumnRenamed(
  "Gastopescado", "Gastopescados").withColumnRenamed("Gastovinho", "Gastovinhos")

In [185]:
print("modified columns: ", df1_spark.columns)

modified columns:  ['ID do cliente', 'Nascimento', 'Graudeinstrução', 'EstadoCivil', 'Renda', 'Crianças', 'Adolescentes', 'Datadocadastro', 'DataUltimacompra', 'Gastovinhos', 'Gastofrutas', 'Gastocarnes', 'Gastopescados', 'Gastodoces', 'Gastoemouro', 'Comprascomdesconto', 'Comprasnosite', 'Comprasnocatalogo', 'Comprasnaslojas', 'Visitasnosite', 'PartCampanha3', 'PartCampanha4', 'PartCampanha5', 'PartCampanha1', 'PartCampanha2', 'Reclamação2anos', 'Custodocontato', 'Receita', 'Resposta']

In [ ]:
 
# final dataframe
df1_spark

DataFrame[ID do cliente: bigint, Nascimento: bigint, Graudeinstrução: string, EstadoCivil: string, Renda: double, Crianças: bigint, Adolescentes: bigint, Datadocadastro: string, DataUltimacompra: bigint, Gastovinhos: bigint, Gastofrutas: bigint, Gastocarnes: bigint, Gastopescados: bigint, Gastodoces: bigint, Gastoemouro: bigint, Comprascomdesconto: bigint, Comprasnosite: bigint, Comprasnocatalogo: bigint, Comprasnaslojas: bigint, Visitasnosite: bigint, PartCampanha3: bigint, PartCampanha4: bigint, PartCampanha5: bigint, PartCampanha1: bigint, PartCampanha2: bigint, Reclamação2anos: bigint, Custodocontato: bigint, Receita: bigint, Resposta: bigint]

In [186]:
#E pelo menos duas novas colunas contendo alguma informação 
#relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)

df2 = df1_spark.withColumn("Gastocomproteína", F.col("Gastocarnes") + F.col("Gastopescados"))

df2.filter(F.col("Gastocomproteína") > 10).show(18)

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DataUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Gastocomproteína|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
|         5524|      1957|       Graduado|   Solteiro|58138.0|       0|           0|    04-09-2012|              58|        635|         88|        546|          172|        88|         88|                 3|            8|               10|              4|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|             718|
|         4141|      1965|       Graduado|     Juntos|71613.0|       0|           0|    21-08-2013|              26|        426|         49|        127|          111|        21|         42|                 1|            8|                2|             10|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|             238|
|         6182|      1984|       Graduado|     Juntos|26646.0|       1|           0|    10-02-2014|              26|         11|          4|         20|           10|         3|          5|                 2|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              30|
|         5324|      1981|            PhD|     Casado|58293.0|       1|           0|    19-01-2014|              94|        173|         43|        118|           46|        27|         15|                 5|            5|                3|              6|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|             164|
|         7446|      1967|       Mestrado|     Juntos|62513.0|       0|           1|    09-09-2013|              16|        520|         42|         98|            0|        42|         14|                 2|            6|                4|             10|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              98|
|          965|      1971|       Graduado| Divorciado|55635.0|       0|           1|    13-11-2012|              34|        235|         65|        164|           50|        49|         27|                 4|            7|                3|              7|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|             214|
|         6177|      1985|            PhD|     Casado|33454.0|       1|           0|    08-05-2013|              32|         76|         10|         56|            3|         1|         23|                 2|            4|                0|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              59|
|         4855|      1974|            PhD|     Juntos|30351.0|       1|           0|    06-06-2013|              19|         14|          0|         24|            3|         3|          2|                 1|            3|                0|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|              27|
|          387|      1976|         Basico|     Casado| 7500.0|       0|           0|    13-11-2012|              59|          6|         16|         11|           11|         1|         16|                 1|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              22|
|         2125|      1959|       Graduado| Divorciado|63033.0|       0|           0|    15-11-2013|              82|        194|         61|        480|          225|       112|         30|                 1|            3|                4|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|             705|
|         8180|      1952|       Mestrado| Divorciado|59354.0|       1|           1|    15-11-2013|              53|        233|          2|         53|            3|         5|         14|                 3|            6|                1|              5|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              56|
|         2569|      1987|       Graduado|     Casado|17323.0|       0|           0|    10-10-2012|              38|          3|         14|         17|            6|         1|          5|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              23|
|         2114|      1946|            PhD|   Solteiro|82800.0|       0|           0|    24-11-2012|              23|       1006|         22|        115|           59|        68|         45|                 1|            7|                6|             12|            3|            0|            0|            1|            1|            0|              0|             3|     11|       1|             174|
|         9736|      1980|       Graduado|     Casado|41850.0|       1|           1|    24-12-2012|              51|         53|          5|         19|            2|        13|          4|                 3|            3|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              21|
|         4939|      1946|       Graduado|     Juntos|37760.0|       0|           0|    31-08-2012|              20|         84|          5|         38|          150|        12|         28|                 2|            4|                1|              6|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|             188|
|         6565|      1949|       Mestrado|     Casado|76995.0|       0|           1|    28-03-2013|              91|       1012|         80|        498|            0|        16|        176|                 2|           11|                4|              9|            5|            0|            0|            0|            1|            0|              0|             3|     11|       0|             498|
|         2278|      1985|  Segundo Ciclo|   Solteiro|33812.0|       1|           0|    03-11-2012|              86|          4|         17|         19|           30|        24|         39|                 2|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              49|
|         9360|      1982|       Graduado|     Casado|37040.0|       0|           0|    08-08-2012|              41|         86|          2|         73|           69|        38|         48|                 1|            4|                2|              5|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|             142|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
only showing top 18 rows

In [ ]:
#E pelo menos duas novas colunas contendo alguma informação 
#relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)

df3 = df1_spark.withColumn("Filhos", F.col("Crianças") + F.col("Adolescentes"))

df3.filter(F.col("Filhos") > 2).show(15)

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DataUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
|         7244|      1951|       Graduado|   Solteiro|51381.5|       2|           1|    01-01-2014|              96|         48|          5|         48|            6|        10|          7|                 3|            2|                1|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         1357|      1970|       Graduado|     Juntos|74854.0|       1|           2|    08-04-2013|              90|        856|         59|        487|           58|        29|         73|                 7|            2|                5|              5|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         8996|      1957|            PhD|     Casado|51381.5|       2|           1|    19-11-2012|               4|        230|         42|        192|           49|        37|         53|                12|            7|                2|              8|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         9579|      1959|            PhD|     Casado|33762.0|       2|           1|    07-07-2013|              61|         53|          1|         34|            2|         0|         16|                 3|            2|                2|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         5885|      1973|  Segundo Ciclo|     Casado|35688.0|       2|           1|    22-08-2012|              94|         73|          3|         90|           12|         1|         32|                 7|            4|                1|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         9283|      1978|       Graduado|   Solteiro|60199.0|       1|           2|    12-09-2013|              49|          8|          1|          7|            2|         0|          0|                 1|            0|                0|              3|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2795|      1958|       Mestrado|   Solteiro|30523.0|       2|           1|    01-07-2013|               0|          5|          0|          3|            0|         0|          5|                 1|            1|                0|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         4370|      1966|       Graduado|     Juntos|43482.0|       2|           1|    13-11-2013|              83|         18|          1|         32|            6|         3|         28|                 3|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|        10492|      1959|       Graduado|     Juntos|38285.0|       2|           1|    24-06-2014|              96|          2|          0|          5|            2|         0|          1|                 1|            0|                0|              3|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         7264|      1978|  Segundo Ciclo|   Solteiro|52195.0|       2|           1|    12-05-2014|               2|         12|          0|          4|            0|         0|          1|                 1|            1|                0|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         3153|      1957|            PhD|   Solteiro|40737.0|       2|           1|    08-12-2013|              24|         11|          0|          4|            0|         0|          2|                 1|            1|                0|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2826|      1967|       Graduado|     Casado|22574.0|       2|           1|    28-10-2013|              28|         25|          0|          8|            2|         0|          2|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2863|      1970|       Graduado|   Solteiro|51381.5|       1|           2|    23-08-2013|              67|        738|         20|        172|           52|        50|         20|                 6|            2|                3|             10|            7|            0|            1|            0|            1|            0|              0|             3|     11|       0|     3|
|        10350|      1950|            PhD|     Casado|54432.0|       2|           1|    09-05-2013|              37|         33|          0|          5|            0|         0|          0|                 1|            1|                0|              3|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         3310|      1973|  Segundo Ciclo|     Casado|35688.0|       2|           1|    22-08-2012|              94|         73|          3|         90|           12|         1|         32|                 7|            4|                1|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
only showing top 15 rows

In [ ]:
#F Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

In [ ]:
df3.select(F.col("Filhos")).filter(F.col("Renda") > 3000).show()

+------+
|Filhos|
+------+
|     0|
|     2|
|     0|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     2|
|     1|
|     0|
|     0|
|     2|
|     0|
|     0|
|     2|
|     0|
|     1|
|     1|
+------+
only showing top 20 rows

In [ ]:
#G  Utilizar pelo menos duas Window Functions

## 4 - NÍVEL SPARK **SQL**


A) Utilizar no minimo 5 consultas diferentes utilizando o SparkSQL, comentando o porquê de ter escolhido essas funções e explicando o que cada consulta faz.

# **5 - EXTRAS**