<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/PROJETOINDIVIDUAL_MIRIAM_18_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PROJETO INDIVIDUAL MIRIAM SOBRAL - PERFIL CAMPANHA MARKETING 

PROJETO DESTINADO À AVALIAÇÃO DE DESEMPENHO DO CURSO DE ENGENHARIA DE DADOS

ESCOLA: SOULCODE ACADEMY 

TURMA: BC12

PROFs: IGOR GONDIM E BISMARK WILLIAM

DATA DA ENTREGA: 20.03.22

## PROBLEMA: 


Análise do perfil de clientes para campanha de marketing direto. 
O dataset concentra dados tais como: perfil pessoal, econômico e de consumo. 
As informações foram extraídas de um arquivo csv disponibilizado.

## 1 - NÍVEL INFRAESTRUTURA

A)O Dataset deve ser salvo em ambiente cloud(Cloud Storage)

B)O arquivo original e tratado deve ser salvo em MongoDB Atlas em coleções diferentes

C)Os DataFrames devem ser obrigatoriamente salvos em uma bucket do CloudStorage

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [364]:
!pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2022.2.0)
Requirement already satisfied: fsspec==2022.02.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2022.2.0)
Requirement already satisfied: aiohttp<4 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (0.13.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.7.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (6.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.55.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)

In [363]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
import pandas as pd
from google.cloud import storage
import os
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import *
from pyspark.sql.window import Window

*CONEXÃO DATASET - COLAB >>>>>> GCP*

In [365]:

#A
path = 'https://storage.googleapis.com/soulcodeprojeto/marketing_campaign.csv'

df_pandas = pd.read_csv(path)

CONEXÃO DATASET - COLAB >>>>>> MONGO DB

In [366]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [367]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [368]:
import pandas as pd
import pandera as pa
import numpy as np
import pymongo
from pymongo import MongoClient

In [369]:
#B


client = pymongo.MongoClient('mongodb+srv://miriamgds:delete@cluster0.tx4pn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [370]:
db = client['basesoriginais']
ds_original = db.dataset_originais

In [371]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('aulaSpark')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)
df_spark = spark.createDataFrame(df_pandas)

In [372]:
#C Confirmação por email

#Usuário: miriamgds
#Senha: delete

## 2 - NÍVEL PANDAS 


A) Realizar a extração corretamente para um dataframe

B) Traduzir para Português-BR

C) Verificar a existência de dados inconsistentes e realizar a limpeza para NaN ou NA

D) Realizar o drop(se necessário) de colunas do dataframe realizando o comentário do porque da exclusão 

E) Todos os passos devem ser comentados

In [373]:

path = 'https://storage.googleapis.com/soulcodeprojeto/marketing_campaign.csv'

df_pandas = pd.read_csv(path)

In [374]:
#A

df_pandas

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [375]:
df_pandas.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

In [376]:
df_pandas.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [377]:
#B 
#Renomeando o dataframe do inglês para o português br


df_pandas.rename(columns={'ID':'ID do cliente', 'Year_Birth':'Nascimento', 'Education':'Graudeinstrução', 
                                      'Marital_Status':'EstadoCivil', 'Income':'Renda', 
                                      'Kidhome':'Crianças', 'Teenhome':'Adolescentes',
                                      'Dt_Customer':'Datadocadastro', 
                                      'Recency':'DiasUltimacompra', 
                                      'MntWines':'Gastovinho',
                                      'MntFruits':'Gastofrutas', 
                                      'MntMeatProducts':'Gastocarnes', 
                                      'MntFishProducts':'Gastopescado', 
                                      'MntSweetProducts':'Gastodoces', 
                                      'MntGoldProds':'Gastoemouro', 
                                      'NumDealsPurchases': 'Comprascomdesconto', 
                                      'NumWebPurchases': 'Comprasnosite', 
                                      'NumCatalogPurchases':'Comprasnocatalogo', 
                                      'NumStorePurchases': 'Comprasnaslojas', 
                                      'NumWebVisitsMonth': 'Visitasnosite', 
                                      'AcceptedCmp3': 'PartCampanha3', 
                                      'AcceptedCmp4':'PartCampanha4', 
                                      'AcceptedCmp5':'PartCampanha5', 
                                      'AcceptedCmp1': 'PartCampanha1',
                                      'AcceptedCmp2': 'PartCampanha2', 
                                      'Complain': 'Reclamação2anos',
                                      'Z_CostContact': 'Custodocontato',
                                      'Z_Revenue': 'Receita', 
                                      'Response':'Resposta'},inplace=True)

In [378]:
df_pandas.head(2)

,ID do cliente,Nascimento,Graudeinstrução,EstadoCivil,Renda,Crianças,Adolescentes,Datadocadastro,DiasUltimacompra,Gastovinho,...,Visitasnosite,PartCampanha3,PartCampanha4,PartCampanha5,PartCampanha1,PartCampanha2,Reclamação2anos,Custodocontato,Receita,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0

In [379]:
#C 
#Limpeza para NaN ou NA
#retornar um resumo estatístico das variáveis numéricas

df_pandas.describe()

,ID do cliente,Nascimento,Renda,Crianças,Adolescentes,DiasUltimacompra,Gastovinho,Gastofrutas,Gastocarnes,Gastopescado,...,Visitasnosite,PartCampanha3,PartCampanha4,PartCampanha5,PartCampanha1,PartCampanha2,Reclamação2anos,Custodocontato,Receita,Resposta
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [380]:
#Resumo de valores não-nulos encontrados


df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID do cliente       2240 non-null   int64
 1   Nascimento          2240 non-null   int64
 2   Graudeinstrução     2240 non-null   object
 3   EstadoCivil         2240 non-null   object
 4   Renda               2216 non-null   float64
 5   Crianças            2240 non-null   int64
 6   Adolescentes        2240 non-null   int64
 7   Datadocadastro      2240 non-null   object
 8   DiasUltimacompra    2240 non-null   int64
 9   Gastovinho          2240 non-null   int64
 10  Gastofrutas         2240 non-null   int64
 11  Gastocarnes         2240 non-null   int64
 12  Gastopescado        2240 non-null   int64
 13  Gastodoces          2240 non-null   int64
 14  Gastoemouro         2240 non-null   int64
 15  Comprascomdesconto  2240 non-null   int64
 16  Comprasnosite       2240 non-null   int64
 17  Comprasnocatalogo   2240 non-null   int64
 18  Comprasnaslojas     2240 non-null   int64
 19  Visitasnosite       2240 non-null   int64
 20  PartCampanha3       2240 non-null   int64
 21  PartCampanha4       2240 non-null   int64
 22  PartCampanha5       2240 non-null   int64
 23  PartCampanha1       2240 non-null   int64
 24  PartCampanha2       2240 non-null   int64
 25  Reclamação2anos     2240 non-null   int64
 26  Custodocontato      2240 non-null   int64
 27  Receita             2240 non-null   int64
 28  Resposta            2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [381]:
#Soma dos valores nulos encontrados
#Foram encontrados 24 valores NAN em Renda que foram tratados. Optou-se por incluir nas células a mediana da renda anual. 

df_pandas.isnull().sum()

ID do cliente          0
Nascimento             0
Graudeinstrução        0
EstadoCivil            0
Renda                 24
Crianças               0
Adolescentes           0
Datadocadastro         0
DiasUltimacompra       0
Gastovinho             0
Gastofrutas            0
Gastocarnes            0
Gastopescado           0
Gastodoces             0
Gastoemouro            0
Comprascomdesconto     0
Comprasnosite          0
Comprasnocatalogo      0
Comprasnaslojas        0
Visitasnosite          0
PartCampanha3          0
PartCampanha4          0
PartCampanha5          0
PartCampanha1          0
PartCampanha2          0
Reclamação2anos        0
Custodocontato         0
Receita                0
Resposta               0
dtype: int64

In [382]:
 #Mostrar as 10 colunas com mais valores ausentes para esse dataset

df_pandas.isnull().sum().sort_values(ascending=False)[:10]

Renda                 24
ID do cliente          0
Comprascomdesconto     0
Receita                0
Custodocontato         0
Reclamação2anos        0
PartCampanha2          0
PartCampanha1          0
PartCampanha5          0
PartCampanha4          0
dtype: int64

In [383]:
 df_pandas.Graudeinstrução.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
df_pandas['Graudeinstrução']= df_pandas['Graudeinstrução'].str.replace('Graduation', 'Graduado').str.replace('PhD', 'PhD').replace('Master', 'Mestrado').replace('Basic', 'Basico').replace('2n Cycle','Segundo Ciclo' )

In [384]:
df_pandas.Graudeinstrução.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [385]:
df_pandas.EstadoCivil.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [386]:
df_pandas['EstadoCivil']=df_pandas['EstadoCivil'].str.replace('Single', 'Solteiro').replace('Together', 'Juntos').replace('Married','Casado').replace('Divorced', 'Divorciado').replace('Absurd', 'Absurdo').replace('YOLO', 'Só se vive uma vez').replace('Widow', 'Viúvo').replace('Alone', 'Sozinho')

In [387]:
df_pandas.EstadoCivil.unique()

array(['Solteiro', 'Juntos', 'Casado', 'Divorciado', 'Viúvo', 'Sozinho',
       'Absurdo', 'Só se vive uma vez'], dtype=object)

In [388]:
#D 
#Dropando colunas

df_pandas.groupby(['Custodocontato']).Custodocontato.count()

Custodocontato
3    2240
Name: Custodocontato, dtype: int64

In [389]:
## Extrair a mediana da Renda Anual 
Renda_mediana = df_pandas.Renda.median()

In [390]:
Renda_mediana

51381.5

In [391]:
# Preenchendo a coluna com a mediana
df_pandas.fillna(Renda_mediana, inplace=True)

In [392]:
# Observando se há valores nulos

df_pandas.Renda.isnull().sum()

0

In [393]:
df_pandas.groupby(['Renda']).size().sort_values(ascending=False)

Renda
51381.5     24
7500.0      12
35860.0      4
46098.0      3
48432.0      3
            ..
42081.0      1
42033.0      1
42021.0      1
42011.0      1
666666.0     1
Length: 1975, dtype: int64

## 3 - NÍVEL PYSPARK


A) Deverá ser montada a estrutura do DataFrame utilizando o StructType.

B) Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.

C) Verificar a necessidade de drop em colunas ou linhas. Caso seja necessário, fazer comentário do porque.

D) Realizar a mudança de nome de pelo menos 2 colunas.

E) Deverá criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)

F) Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

G) Utilizar pelo menos duas Window Functions

In [394]:
#A)

spark = (
    SparkSession.builder
                .master('local')
                .appName('StructType')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)
df1_spark = spark.createDataFrame(df_pandas)

In [395]:
df1_spark.show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinho|Gastofrutas|Gastocarnes|Gastopescado|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|         5524|      1957|     Graduation|   Solteiro|58138.0|       0|           0|    04-09-2012|              58|       635|         88|        546|         172|        88|         88|                 3|            8|               10|              4|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|         2174|      1954|     Graduation|   Solteiro|46344.0|       1|           1|    08-03-2014|              38|        11|          1|          6|           2|         1|          6|                 2|            1|                1|              2|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4141|      1965|     Graduation|     Juntos|71613.0|       0|           0|    21-08-2013|              26|       426|         49|        127|         111|        21|         42|                 1|            8|                2|             10|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6182|      1984|     Graduation|     Juntos|26646.0|       1|           0|    10-02-2014|              26|        11|          4|         20|          10|         3|          5|                 2|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         5324|      1981|            PhD|     Casado|58293.0|       1|           0|    19-01-2014|              94|       173|         43|        118|          46|        27|         15|                 5|            5|                3|              6|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         7446|      1967|         Master|     Juntos|62513.0|       0|           1|    09-09-2013|              16|       520|         42|         98|           0|        42|         14|                 2|            6|                4|             10|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|          965|      1971|     Graduation| Divorciado|55635.0|       0|           1|    13-11-2012|              34|       235|         65|        164|          50|        49|         27|                 4|            7|                3|              7|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6177|      1985|            PhD|     Casado|33454.0|       1|           0|    08-05-2013|              32|        76|         10|         56|           3|         1|         23|                 2|            4|                0|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4855|      1974|            PhD|     Juntos|30351.0|       1|           0|    06-06-2013|              19|        14|          0|         24|           3|         3|          2|                 1|            3|                0|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|         5899|      1950|            PhD|     Juntos| 5648.0|       1|           1|    13-03-2014|              68|        28|          0|          6|           1|         1|         13|                 1|            1|                0|              0|           20|            1|            0|            0|            0|            0|              0|             3|     11|       0|
|         1994|      1983|     Graduation|     Casado|51381.5|       1|           0|    15-11-2013|              11|         5|          5|          6|           0|         2|          1|                 1|            1|                0|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|          387|      1976|          Basic|     Casado| 7500.0|       0|           0|    13-11-2012|              59|         6|         16|         11|          11|         1|         16|                 1|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2125|      1959|     Graduation| Divorciado|63033.0|       0|           0|    15-11-2013|              82|       194|         61|        480|         225|       112|         30|                 1|            3|                4|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         8180|      1952|         Master| Divorciado|59354.0|       1|           1|    15-11-2013|              53|       233|          2|         53|           3|         5|         14|                 3|            6|                1|              5|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2569|      1987|     Graduation|     Casado|17323.0|       0|           0|    10-10-2012|              38|         3|         14|         17|           6|         1|          5|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2114|      1946|            PhD|   Solteiro|82800.0|       0|           0|    24-11-2012|              23|      1006|         22|        115|          59|        68|         45|                 1|            7|                6|             12|            3|            0|            0|            1|            1|            0|              0|             3|     11|       1|
|         9736|      1980|     Graduation|     Casado|41850.0|       1|           1|    24-12-2012|              51|        53|          5|         19|           2|        13|          4|                 3|            3|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4939|      1946|     Graduation|     Juntos|37760.0|       0|           0|    31-08-2012|              20|        84|          5|         38|         150|        12|         28|                 2|            4|                1|              6|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6565|      1949|         Master|     Casado|76995.0|       0|           1|    28-03-2013|              91|      1012|         80|        498|           0|        16|        176|                 2|           11|                4|              9|            5|            0|            0|            0|            1|            0|              0|             3|     11|       0|
|         2278|      1985|       2n Cycle|   Solteiro|33812.0|       1|           0|    03-11-2012|              86|         4|         17|         19|          30|        24|         39|                 2|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+----------+-----------+-----------+------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
only showing top 20 rows

In [397]:
esquema = (
    StructType([
        StructField("ID do cliente",StringType(), True),
        StructField("Nascimento", DataType(), True),
        StructField("Graudeinstrução", StringType(), True),
        StructField("EstadoCivil", StringType(), False),
        StructField("Renda", IntegerType(), True),
        StructField("Crianças", IntegerType(), True),
        StructField("Adolescentes", IntegerType(), True),
        StructField('Datadocadastro', DataType(), True),
        StructField('Diasultimacompra', DataType(), True),
        StructField('Gastovinho', IntegerType(), True),
        StructField('Gastofrutas',IntegerType(), True), 
        StructField('Gastocarnes', IntegerType(), True),
        StructField('Gastopescado', IntegerType(), True),
        StructField('Gastodoces', IntegerType(), True),
        StructField('Gastoemouro',IntegerType(), True),
        StructField('Comprascomdesconto', IntegerType(), True),
        StructField('Comprasnosite', IntegerType(), True),
        StructField('Comprasnocatalogo', IntegerType(), True),
        StructField('Comprasnaslojas', IntegerType(), True),
        StructField('Visitasnosite', IntegerType(), True), 
        StructField('PartCampanha3',IntegerType(), True),
        StructField('PartCampanha4', IntegerType(), True),
        StructField('PartCampanha5', IntegerType(), True),
        StructField('PartCampanha1', IntegerType(), True),
        StructField('PartCampanha2', IntegerType(), True),
        StructField('Reclamação2anos', IntegerType(), True),
        StructField('Custodocontato', IntegerType(), True),
        StructField('Receita', IntegerType(), True),
        StructField('Resposta', IntegerType(), True),
    ])
)

In [398]:
df1_spark.printSchema()

root
 |-- ID do cliente: long (nullable = true)
 |-- Nascimento: long (nullable = true)
 |-- Graudeinstrução: string (nullable = true)
 |-- EstadoCivil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- Crianças: long (nullable = true)
 |-- Adolescentes: long (nullable = true)
 |-- Datadocadastro: string (nullable = true)
 |-- DiasUltimacompra: long (nullable = true)
 |-- Gastovinho: long (nullable = true)
 |-- Gastofrutas: long (nullable = true)
 |-- Gastocarnes: long (nullable = true)
 |-- Gastopescado: long (nullable = true)
 |-- Gastodoces: long (nullable = true)
 |-- Gastoemouro: long (nullable = true)
 |-- Comprascomdesconto: long (nullable = true)
 |-- Comprasnosite: long (nullable = true)
 |-- Comprasnocatalogo: long (nullable = true)
 |-- Comprasnaslojas: long (nullable = true)
 |-- Visitasnosite: long (nullable = true)
 |-- PartCampanha3: long (nullable = true)
 |-- PartCampanha4: long (nullable = true)
 |-- PartCampanha5: long (nullable = true)
 |-- PartCampanha1: long (nullable = true)
 |-- PartCampanha2: long (nullable = true)
 |-- Reclamação2anos: long (nullable = true)
 |-- Custodocontato: long (nullable = true)
 |-- Receita: long (nullable = true)
 |-- Resposta: long (nullable = true)

In [ ]:
#B Limpeza idade que 1893 1899 1900 
custo do contato receita

In [399]:
#C - DROP

In [400]:
#D Realizar a mudança de nome de pelo menos 2 colunas.
# change the college column name to university 
# and ID to student_id
df1_spark = df1_spark.withColumnRenamed(
  "Gastopescado", "Gastopescados").withColumnRenamed("Gastovinho", "Gastovinhos")

In [401]:
print("modified columns: ", df1_spark.columns)

modified columns:  ['ID do cliente', 'Nascimento', 'Graudeinstrução', 'EstadoCivil', 'Renda', 'Crianças', 'Adolescentes', 'Datadocadastro', 'DiasUltimacompra', 'Gastovinhos', 'Gastofrutas', 'Gastocarnes', 'Gastopescados', 'Gastodoces', 'Gastoemouro', 'Comprascomdesconto', 'Comprasnosite', 'Comprasnocatalogo', 'Comprasnaslojas', 'Visitasnosite', 'PartCampanha3', 'PartCampanha4', 'PartCampanha5', 'PartCampanha1', 'PartCampanha2', 'Reclamação2anos', 'Custodocontato', 'Receita', 'Resposta']

In [402]:
#E pelo menos duas novas colunas contendo alguma informação 
#relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)

df2 = df1_spark.withColumn("Gastocomproteína", F.col("Gastocarnes") + F.col("Gastopescados"))

df2.filter(F.col("Gastocomproteína") > 10).show(18)

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Gastocomproteína|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
|         5524|      1957|     Graduation|   Solteiro|58138.0|       0|           0|    04-09-2012|              58|        635|         88|        546|          172|        88|         88|                 3|            8|               10|              4|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|             718|
|         4141|      1965|     Graduation|     Juntos|71613.0|       0|           0|    21-08-2013|              26|        426|         49|        127|          111|        21|         42|                 1|            8|                2|             10|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|             238|
|         6182|      1984|     Graduation|     Juntos|26646.0|       1|           0|    10-02-2014|              26|         11|          4|         20|           10|         3|          5|                 2|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              30|
|         5324|      1981|            PhD|     Casado|58293.0|       1|           0|    19-01-2014|              94|        173|         43|        118|           46|        27|         15|                 5|            5|                3|              6|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|             164|
|         7446|      1967|         Master|     Juntos|62513.0|       0|           1|    09-09-2013|              16|        520|         42|         98|            0|        42|         14|                 2|            6|                4|             10|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              98|
|          965|      1971|     Graduation| Divorciado|55635.0|       0|           1|    13-11-2012|              34|        235|         65|        164|           50|        49|         27|                 4|            7|                3|              7|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|             214|
|         6177|      1985|            PhD|     Casado|33454.0|       1|           0|    08-05-2013|              32|         76|         10|         56|            3|         1|         23|                 2|            4|                0|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              59|
|         4855|      1974|            PhD|     Juntos|30351.0|       1|           0|    06-06-2013|              19|         14|          0|         24|            3|         3|          2|                 1|            3|                0|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|              27|
|          387|      1976|          Basic|     Casado| 7500.0|       0|           0|    13-11-2012|              59|          6|         16|         11|           11|         1|         16|                 1|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              22|
|         2125|      1959|     Graduation| Divorciado|63033.0|       0|           0|    15-11-2013|              82|        194|         61|        480|          225|       112|         30|                 1|            3|                4|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|             705|
|         8180|      1952|         Master| Divorciado|59354.0|       1|           1|    15-11-2013|              53|        233|          2|         53|            3|         5|         14|                 3|            6|                1|              5|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              56|
|         2569|      1987|     Graduation|     Casado|17323.0|       0|           0|    10-10-2012|              38|          3|         14|         17|            6|         1|          5|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              23|
|         2114|      1946|            PhD|   Solteiro|82800.0|       0|           0|    24-11-2012|              23|       1006|         22|        115|           59|        68|         45|                 1|            7|                6|             12|            3|            0|            0|            1|            1|            0|              0|             3|     11|       1|             174|
|         9736|      1980|     Graduation|     Casado|41850.0|       1|           1|    24-12-2012|              51|         53|          5|         19|            2|        13|          4|                 3|            3|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|              21|
|         4939|      1946|     Graduation|     Juntos|37760.0|       0|           0|    31-08-2012|              20|         84|          5|         38|          150|        12|         28|                 2|            4|                1|              6|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|             188|
|         6565|      1949|         Master|     Casado|76995.0|       0|           1|    28-03-2013|              91|       1012|         80|        498|            0|        16|        176|                 2|           11|                4|              9|            5|            0|            0|            0|            1|            0|              0|             3|     11|       0|             498|
|         2278|      1985|       2n Cycle|   Solteiro|33812.0|       1|           0|    03-11-2012|              86|          4|         17|         19|           30|        24|         39|                 2|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|              49|
|         9360|      1982|     Graduation|     Casado|37040.0|       0|           0|    08-08-2012|              41|         86|          2|         73|           69|        38|         48|                 1|            4|                2|              5|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|             142|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+----------------+
only showing top 18 rows

In [403]:
#E CRIANDO NOVA COLUNA1: FILHOS 

df3 = df1_spark.withColumn("Filhos", F.col("Crianças") + F.col("Adolescentes"))

df3.filter(F.col("Filhos") > 2).show(15)

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
|         7244|      1951|     Graduation|   Solteiro|51381.5|       2|           1|    01-01-2014|              96|         48|          5|         48|            6|        10|          7|                 3|            2|                1|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         1357|      1970|     Graduation|     Juntos|74854.0|       1|           2|    08-04-2013|              90|        856|         59|        487|           58|        29|         73|                 7|            2|                5|              5|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         8996|      1957|            PhD|     Casado|51381.5|       2|           1|    19-11-2012|               4|        230|         42|        192|           49|        37|         53|                12|            7|                2|              8|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         9579|      1959|            PhD|     Casado|33762.0|       2|           1|    07-07-2013|              61|         53|          1|         34|            2|         0|         16|                 3|            2|                2|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         5885|      1973|       2n Cycle|     Casado|35688.0|       2|           1|    22-08-2012|              94|         73|          3|         90|           12|         1|         32|                 7|            4|                1|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         9283|      1978|     Graduation|   Solteiro|60199.0|       1|           2|    12-09-2013|              49|          8|          1|          7|            2|         0|          0|                 1|            0|                0|              3|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2795|      1958|         Master|   Solteiro|30523.0|       2|           1|    01-07-2013|               0|          5|          0|          3|            0|         0|          5|                 1|            1|                0|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         4370|      1966|     Graduation|     Juntos|43482.0|       2|           1|    13-11-2013|              83|         18|          1|         32|            6|         3|         28|                 3|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|        10492|      1959|     Graduation|     Juntos|38285.0|       2|           1|    24-06-2014|              96|          2|          0|          5|            2|         0|          1|                 1|            0|                0|              3|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         7264|      1978|       2n Cycle|   Solteiro|52195.0|       2|           1|    12-05-2014|               2|         12|          0|          4|            0|         0|          1|                 1|            1|                0|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         3153|      1957|            PhD|   Solteiro|40737.0|       2|           1|    08-12-2013|              24|         11|          0|          4|            0|         0|          2|                 1|            1|                0|              2|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2826|      1967|     Graduation|     Casado|22574.0|       2|           1|    28-10-2013|              28|         25|          0|          8|            2|         0|          2|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         2863|      1970|     Graduation|   Solteiro|51381.5|       1|           2|    23-08-2013|              67|        738|         20|        172|           52|        50|         20|                 6|            2|                3|             10|            7|            0|            1|            0|            1|            0|              0|             3|     11|       0|     3|
|        10350|      1950|            PhD|     Casado|54432.0|       2|           1|    09-05-2013|              37|         33|          0|          5|            0|         0|          0|                 1|            1|                0|              3|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
|         3310|      1973|       2n Cycle|     Casado|35688.0|       2|           1|    22-08-2012|              94|         73|          3|         90|           12|         1|         32|                 7|            4|                1|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     3|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+
only showing top 15 rows

In [ ]:
#F Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

In [418]:
#Observando a relação de compras com idade x consumo de doces usando orderby


df1_spark.orderBy(['Nascimento', 'Gastodoces'],
                  ascending=True).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|        11004|      1893|       2n Cycle|   Solteiro|60182.0|       0|           1|    17-05-2014|              23|          8|          0|          5|            7|         0|          2|                 1|            1|                0|              2|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         1150|      1899|            PhD|     Juntos|83532.0|       0|           0|    26-09-2013|              36|        755|        144|        562|          104|        64|        224|                 1|            4|                6|              4|            1|            0|            0|            1|            0|            0|              0|             3|     11|       0|
|         7829|      1900|       2n Cycle| Divorciado|36640.0|       1|           0|    26-09-2013|              99|         15|          6|          8|            7|         4|         25|                 1|            2|                1|              2|            5|            0|            0|            0|            0|            0|              1|             3|     11|       0|
|         6663|      1940|            PhD|   Solteiro|51141.0|       0|           0|    08-07-2013|              96|        144|          0|          7|            0|         0|          6|                 1|            3|                1|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6932|      1941|            PhD|     Casado|93027.0|       0|           0|    13-04-2013|              77|       1285|         42|        716|           55|         0|         21|                 0|            7|               10|              5|            2|            0|            0|            1|            0|            0|              0|             3|     11|       0|
|         7106|      1943|            PhD|     Casado|75865.0|       0|           0|    31-03-2014|              73|        483|          0|        591|          156|         0|         12|                 1|            3|                5|             10|            1|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         6142|      1943|         Master|     Casado|65073.0|       0|           0|    20-08-2013|              65|        629|         17|        177|           69|         0|          8|                 1|            5|                3|              5|            2|            0|            0|            0|            0|            0|              1|             3|     11|       0|
|         1453|      1943|            PhD|      Viúvo|57513.0|       0|           0|    06-07-2013|              59|        735|         40|        183|           52|        20|         30|                 2|            9|                3|             13|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2968|      1943|            PhD| Divorciado|48948.0|       0|           0|    01-02-2013|              53|        437|          8|        206|          160|        49|         42|                 2|            7|               10|              5|            6|            1|            0|            0|            0|            0|              0|             3|     11|       1|
|         8800|      1943|            PhD| Divorciado|48948.0|       0|           0|    01-02-2013|              53|        437|          8|        206|          160|        49|         42|                 2|            7|               10|              5|            6|            1|            0|            0|            0|            0|              0|             3|     11|       1|
|         4994|      1943|         Master|   Solteiro|77598.0|       0|           0|    01-10-2013|              53|       1193|         33|        281|          129|        66|         33|                 1|            7|                5|             13|            3|            0|            0|            1|            0|            0|              0|             3|     11|       0|
|         5250|      1943|         Master|      Viúvo|51381.5|       0|           0|    30-10-2013|              75|        532|        126|        490|          164|       126|        126|                 1|            5|                5|             11|            1|            0|            0|            1|            0|            0|              0|             3|     11|       1|
|         6605|      1944|            PhD| Divorciado|55614.0|       0|           0|    27-11-2013|              85|        504|         13|        131|            8|         0|         26|                 1|            9|                4|              6|            7|            0|            1|            0|            0|            0|              0|             3|     11|       0|
|         4587|      1944|         Master|      Viúvo|45006.0|       0|           0|    18-07-2013|              90|        162|         25|         53|           16|         0|         10|                 1|            3|                1|              7|            3|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         1740|      1944|     Graduation|     Casado|55956.0|       0|           0|    07-04-2014|              22|        760|         38|        104|           50|         9|         38|                 2|            7|                3|              4|            4|            0|            1|            0|            0|            0|              0|             3|     11|       0|
|          466|      1944|     Graduation|     Casado|65275.0|       0|           0|    03-04-2013|               9|        388|         14|        218|           91|        14|         21|                 1|            4|                3|             13|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         3711|      1944|         Master|     Casado|80184.0|       0|           0|    01-03-2014|              19|       1035|        134|        670|           25|        38|          0|                 1|            6|                3|             10|            3|            0|            0|            1|            1|            0|              0|             3|     11|       0|
|         4310|      1944|     Graduation|     Casado|80589.0|       0|           0|    22-01-2014|              25|        507|         93|        520|          242|        40|         26|                 1|            5|               10|              5|            1|            0|            0|            0|            1|            0|              0|             3|     11|       1|
|         9930|      1944|            PhD|   Solteiro|82716.0|       0|           0|    05-11-2013|               8|        606|        148|        228|           15|       148|         22|                 1|            6|                8|             13|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|          263|      1945|            PhD|   Solteiro|45576.0|       0|           0|    28-05-2014|               9|         56|         19|         29|            2|        14|         25|                 1|            3|                1|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       1|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
only showing top 20 rows

In [419]:
#Observando a relação de compras com idade x consumo de doces usando sort

df1_spark.sort(['Nascimento', 'Gastodoces'], ascending=False).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
|         9909|      1996|       2n Cycle|     Casado| 7500.0|       0|           0|    09-11-2012|              24|          3|         18|         14|           15|        22|         50|                 3|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|          193|      1996|          Basic|     Casado|14421.0|       0|           0|    17-02-2014|              81|          0|          0|          2|            3|         3|          8|                 1|            1|                0|              2|            5|            1|            0|            0|            0|            0|              0|             3|     11|       0|
|         4427|      1995|       2n Cycle|   Solteiro|83257.0|       0|           0|    18-09-2012|              56|        536|         27|        590|           38|       107|         67|                 1|            5|               10|             12|            6|            1|            0|            1|            0|            0|              1|             3|     11|       1|
|        10548|      1995|     Graduation|   Solteiro|71163.0|       0|           0|    09-03-2014|              30|        283|         17|        372|          138|       106|         44|                 1|            3|                8|             12|            1|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         3661|      1995|       2n Cycle|   Solteiro|80617.0|       0|           0|    12-10-2012|              42|        594|         51|        631|           72|        55|         32|                 1|            4|                6|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         8315|      1995|     Graduation|   Solteiro|34824.0|       0|           0|    26-03-2014|              65|          4|          2|         11|            2|         0|          4|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         5184|      1995|     Graduation|   Solteiro|34824.0|       0|           0|    26-03-2014|              65|          4|          2|         11|            2|         0|          4|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|        10619|      1994|     Graduation|   Solteiro|95529.0|       0|           0|    03-12-2012|              29|        770|         29|        890|          250|        27|         24|                 1|            7|                3|              7|            3|            0|            0|            1|            0|            0|              0|             3|     11|       1|
|         5067|      1994|     Graduation|     Juntos|80134.0|       0|           0|    14-02-2014|              11|        966|         26|        282|           52|        26|         26|                 1|            2|                7|             11|            5|            0|            1|            1|            1|            1|              0|             3|     11|       0|
|         6905|      1994|     Graduation|     Juntos|80685.0|       0|           0|    22-08-2012|              55|        241|         45|        604|           34|        26|         54|                 1|            6|                4|             10|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|        10037|      1993|     Graduation|   Solteiro|74293.0|       0|           0|    04-05-2014|              66|        375|        152|        335|           93|        91|         81|                 1|            5|                4|              6|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         2669|      1993|     Graduation|   Solteiro|74293.0|       0|           0|    04-05-2014|              66|        375|        152|        335|           93|        91|         81|                 1|            5|                4|              6|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         5080|      1993|     Graduation|   Solteiro|70515.0|       0|           0|    21-10-2013|              12|        420|          0|        452|          182|        64|        140|                 1|            6|                6|              4|            2|            0|            0|            0|            0|            0|              0|             3|     11|       1|
|         7734|      1993|     Graduation|    Absurdo|79244.0|       0|           0|    19-12-2012|              58|        471|        102|        125|          212|        61|        245|                 1|            4|               10|              7|            1|            0|            0|            1|            1|            0|              0|             3|     11|       1|
|         4483|      1993|     Graduation|   Solteiro|72354.0|       0|           0|    17-04-2013|              67|        315|         26|        473|          220|        12|        182|                 1|            2|               10|              6|            1|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|        10513|      1992|     Graduation|     Juntos|63207.0|       0|           0|    20-01-2013|              68|        438|        169|        565|           91|       169|         70|                 1|            2|                3|              6|            7|            0|            0|            0|            1|            0|              0|             3|     11|       0|
|          821|      1992|         Master|   Solteiro|92859.0|       0|           0|    19-10-2012|              46|        962|         61|        921|           52|        61|         20|                 1|            5|                4|             12|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         4654|      1992|     Graduation|     Juntos|75114.0|       0|           0|    07-11-2013|              40|        571|         12|        523|           63|        60|         24|                 1|            3|               10|              5|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|
|         3005|      1992|     Graduation|   Solteiro|83528.0|       0|           0|    01-05-2014|               7|        530|        117|        678|          134|        44|        147|                 1|            4|               10|              8|            1|            1|            0|            0|            1|            0|              0|             3|     11|       1|
|         4136|      1992|          Basic|   Solteiro| 7500.0|       1|           0|    03-12-2012|              63|         10|         17|         18|            8|        26|         40|                 4|            3|                2|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+
only showing top 20 rows

In [404]:
df3.select(F.col("Renda")).filter(F.col("Renda") > 5000).show()

+-------+
|  Renda|
+-------+
|58138.0|
|46344.0|
|71613.0|
|26646.0|
|58293.0|
|62513.0|
|55635.0|
|33454.0|
|30351.0|
| 5648.0|
|51381.5|
| 7500.0|
|63033.0|
|59354.0|
|17323.0|
|82800.0|
|41850.0|
|37760.0|
|76995.0|
|33812.0|
+-------+
only showing top 20 rows

In [405]:

#FUNÇÕES PARA ORDENAÇÃO DE COLUNAS - ORDEM CRESCENTE OU DECRESCENTE SORT ou ORDERBY

#df5.show(10)

df2.select(F.col("Renda"), F.col('Filhos'), F.col("Graudeinstrucao")).sort(F.col("Renda").desc().show(200)
df2.select(F.col("Renda"), F.col('Filhos'), F.col("Graudeinstrucao")).orderBy(F.col("Renda").asc().show(200)

dataframe.orderBy(['student ID', 'student NAME'],
                  ascending=True).show()

SyntaxError: ignored

In [ ]:
#Agrupamento

In [406]:
#G Window Functions

#AGG
df3.agg(F.sum('Renda')).show()

+------------+
|  sum(Renda)|
+------------+
|1.17013065E8|
+------------+

In [407]:
#Particionar minha janela a partir de uma coluna
w0 = Window.partitionBy(F.col('Graudeinstrução')).orderBy('Renda')

In [408]:
#row_number
df3.withColumn('row_number', F.row_number().over(w0)).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|row_number|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
|         9909|      1996|       2n Cycle|     Casado| 7500.0|       0|           0|    09-11-2012|              24|          3|         18|         14|           15|        22|         50|                 3|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     0|         1|
|          456|      1986|       2n Cycle|     Casado| 7500.0|       1|           0|    07-02-2013|              96|          1|         11|          5|            4|         6|          9|                 2|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         2|
|        10001|      1985|       2n Cycle|     Juntos| 7500.0|       1|           0|    01-08-2012|              98|          5|         17|         17|           13|        14|         34|                 4|            2|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         3|
|        10659|      1979|       2n Cycle|     Juntos| 7500.0|       1|           0|    07-05-2013|               7|          2|          8|         11|            3|         8|         21|                 4|            3|                2|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         4|
|         5987|      1989|       2n Cycle|     Juntos|10404.0|       1|           0|    04-05-2014|              52|          2|          2|         11|           10|         6|         12|                 2|            1|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         5|
|        10241|      1975|       2n Cycle| Divorciado|11448.0|       0|           0|    15-12-2013|              16|          0|          0|          0|            6|         2|          6|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         6|
|         1773|      1978|       2n Cycle|     Casado|12393.0|       0|           0|    04-12-2012|              38|          5|          6|         15|           11|         7|         13|                 1|            2|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         7|
|         8812|      1979|       2n Cycle| Divorciado|13533.0|       1|           0|    10-03-2013|              45|         12|          3|          8|            8|         0|         17|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         8|
|         8213|      1980|       2n Cycle|     Juntos|14515.0|       1|           0|    09-11-2012|              71|          6|          4|          9|            6|        36|         35|                 4|            2|                2|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|         9|
|         1241|      1984|       2n Cycle|     Casado|14796.0|       1|           0|    17-09-2012|               1|         13|          3|          8|            7|         4|         16|                 2|            1|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|        10|
|         8420|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        11|
|        10065|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        12|
|        10995|      1988|       2n Cycle|     Casado|15716.0|       1|           0|    12-11-2012|               8|         16|          5|         30|            8|         7|         26|                 3|            3|                0|              4|            8|            0|            0|            0|            0|            0|              1|             3|     11|       0|     1|        13|
|         3559|      1988|       2n Cycle|     Casado|16248.0|       1|           0|    10-05-2014|              77|         12|         11|         10|            3|        12|          9|                 3|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        14|
|         7235|      1975|       2n Cycle|     Casado|17003.0|       1|           0|    09-12-2013|              37|          2|          5|         12|            4|         8|          7|                 3|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        15|
|         3270|      1978|       2n Cycle|     Juntos|17117.0|       1|           0|    17-01-2013|              96|         12|         23|         38|           30|        18|          7|                 4|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        16|
|         3102|      1981|       2n Cycle|     Juntos|19414.0|       1|           0|    16-10-2013|              32|          2|          3|         12|            3|         5|          7|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        17|
|         6504|      1975|       2n Cycle|     Juntos|19789.0|       1|           0|    20-11-2013|              24|          2|          5|          9|           28|         6|         28|                 3|            2|                1|              3|            5|            1|            0|            0|            0|            0|              0|             3|     11|       0|     1|        18|
|         2106|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        19|
|         3363|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        20|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
only showing top 20 rows

In [409]:
#RANK
df3.withColumn('rank', F.rank().over(w0)).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|rank|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----+
|         9909|      1996|       2n Cycle|     Casado| 7500.0|       0|           0|    09-11-2012|              24|          3|         18|         14|           15|        22|         50|                 3|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     0|   1|
|          456|      1986|       2n Cycle|     Casado| 7500.0|       1|           0|    07-02-2013|              96|          1|         11|          5|            4|         6|          9|                 2|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|   1|
|        10001|      1985|       2n Cycle|     Juntos| 7500.0|       1|           0|    01-08-2012|              98|          5|         17|         17|           13|        14|         34|                 4|            2|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|   1|
|        10659|      1979|       2n Cycle|     Juntos| 7500.0|       1|           0|    07-05-2013|               7|          2|          8|         11|            3|         8|         21|                 4|            3|                2|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|   1|
|         5987|      1989|       2n Cycle|     Juntos|10404.0|       1|           0|    04-05-2014|              52|          2|          2|         11|           10|         6|         12|                 2|            1|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|   5|
|        10241|      1975|       2n Cycle| Divorciado|11448.0|       0|           0|    15-12-2013|              16|          0|          0|          0|            6|         2|          6|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|   6|
|         1773|      1978|       2n Cycle|     Casado|12393.0|       0|           0|    04-12-2012|              38|          5|          6|         15|           11|         7|         13|                 1|            2|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|   7|
|         8812|      1979|       2n Cycle| Divorciado|13533.0|       1|           0|    10-03-2013|              45|         12|          3|          8|            8|         0|         17|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|   8|
|         8213|      1980|       2n Cycle|     Juntos|14515.0|       1|           0|    09-11-2012|              71|          6|          4|          9|            6|        36|         35|                 4|            2|                2|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|   9|
|         1241|      1984|       2n Cycle|     Casado|14796.0|       1|           0|    17-09-2012|               1|         13|          3|          8|            7|         4|         16|                 2|            1|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|  10|
|         8420|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|  11|
|        10065|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|  11|
|        10995|      1988|       2n Cycle|     Casado|15716.0|       1|           0|    12-11-2012|               8|         16|          5|         30|            8|         7|         26|                 3|            3|                0|              4|            8|            0|            0|            0|            0|            0|              1|             3|     11|       0|     1|  13|
|         3559|      1988|       2n Cycle|     Casado|16248.0|       1|           0|    10-05-2014|              77|         12|         11|         10|            3|        12|          9|                 3|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|  14|
|         7235|      1975|       2n Cycle|     Casado|17003.0|       1|           0|    09-12-2013|              37|          2|          5|         12|            4|         8|          7|                 3|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|  15|
|         3270|      1978|       2n Cycle|     Juntos|17117.0|       1|           0|    17-01-2013|              96|         12|         23|         38|           30|        18|          7|                 4|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|  16|
|         3102|      1981|       2n Cycle|     Juntos|19414.0|       1|           0|    16-10-2013|              32|          2|          3|         12|            3|         5|          7|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|  17|
|         6504|      1975|       2n Cycle|     Juntos|19789.0|       1|           0|    20-11-2013|              24|          2|          5|          9|           28|         6|         28|                 3|            2|                1|              3|            5|            1|            0|            0|            0|            0|              0|             3|     11|       0|     1|  18|
|         2106|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|  19|
|         3363|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|  19|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----+
only showing top 20 rows

In [410]:
#DENSE_RANK
df3.withColumn('dense_rank', F.dense_rank().over(w0)).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|dense_rank|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
|         9909|      1996|       2n Cycle|     Casado| 7500.0|       0|           0|    09-11-2012|              24|          3|         18|         14|           15|        22|         50|                 3|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     0|         1|
|          456|      1986|       2n Cycle|     Casado| 7500.0|       1|           0|    07-02-2013|              96|          1|         11|          5|            4|         6|          9|                 2|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         1|
|        10001|      1985|       2n Cycle|     Juntos| 7500.0|       1|           0|    01-08-2012|              98|          5|         17|         17|           13|        14|         34|                 4|            2|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         1|
|        10659|      1979|       2n Cycle|     Juntos| 7500.0|       1|           0|    07-05-2013|               7|          2|          8|         11|            3|         8|         21|                 4|            3|                2|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         1|
|         5987|      1989|       2n Cycle|     Juntos|10404.0|       1|           0|    04-05-2014|              52|          2|          2|         11|           10|         6|         12|                 2|            1|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         2|
|        10241|      1975|       2n Cycle| Divorciado|11448.0|       0|           0|    15-12-2013|              16|          0|          0|          0|            6|         2|          6|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         3|
|         1773|      1978|       2n Cycle|     Casado|12393.0|       0|           0|    04-12-2012|              38|          5|          6|         15|           11|         7|         13|                 1|            2|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         4|
|         8812|      1979|       2n Cycle| Divorciado|13533.0|       1|           0|    10-03-2013|              45|         12|          3|          8|            8|         0|         17|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|         5|
|         8213|      1980|       2n Cycle|     Juntos|14515.0|       1|           0|    09-11-2012|              71|          6|          4|          9|            6|        36|         35|                 4|            2|                2|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|         6|
|         1241|      1984|       2n Cycle|     Casado|14796.0|       1|           0|    17-09-2012|               1|         13|          3|          8|            7|         4|         16|                 2|            1|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|         7|
|         8420|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         8|
|        10065|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|         8|
|        10995|      1988|       2n Cycle|     Casado|15716.0|       1|           0|    12-11-2012|               8|         16|          5|         30|            8|         7|         26|                 3|            3|                0|              4|            8|            0|            0|            0|            0|            0|              1|             3|     11|       0|     1|         9|
|         3559|      1988|       2n Cycle|     Casado|16248.0|       1|           0|    10-05-2014|              77|         12|         11|         10|            3|        12|          9|                 3|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        10|
|         7235|      1975|       2n Cycle|     Casado|17003.0|       1|           0|    09-12-2013|              37|          2|          5|         12|            4|         8|          7|                 3|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        11|
|         3270|      1978|       2n Cycle|     Juntos|17117.0|       1|           0|    17-01-2013|              96|         12|         23|         38|           30|        18|          7|                 4|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        12|
|         3102|      1981|       2n Cycle|     Juntos|19414.0|       1|           0|    16-10-2013|              32|          2|          3|         12|            3|         5|          7|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|        13|
|         6504|      1975|       2n Cycle|     Juntos|19789.0|       1|           0|    20-11-2013|              24|          2|          5|          9|           28|         6|         28|                 3|            2|                1|              3|            5|            1|            0|            0|            0|            0|              0|             3|     11|       0|     1|        14|
|         2106|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        15|
|         3363|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|        15|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+----------+
only showing top 20 rows

In [411]:
#lead 
df3.withColumn('lead', F.lead("Renda", 1).over(w0)).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|   lead|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-------+
|         9909|      1996|       2n Cycle|     Casado| 7500.0|       0|           0|    09-11-2012|              24|          3|         18|         14|           15|        22|         50|                 3|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     0| 7500.0|
|          456|      1986|       2n Cycle|     Casado| 7500.0|       1|           0|    07-02-2013|              96|          1|         11|          5|            4|         6|          9|                 2|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1| 7500.0|
|        10001|      1985|       2n Cycle|     Juntos| 7500.0|       1|           0|    01-08-2012|              98|          5|         17|         17|           13|        14|         34|                 4|            2|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1| 7500.0|
|        10659|      1979|       2n Cycle|     Juntos| 7500.0|       1|           0|    07-05-2013|               7|          2|          8|         11|            3|         8|         21|                 4|            3|                2|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|10404.0|
|         5987|      1989|       2n Cycle|     Juntos|10404.0|       1|           0|    04-05-2014|              52|          2|          2|         11|           10|         6|         12|                 2|            1|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|11448.0|
|        10241|      1975|       2n Cycle| Divorciado|11448.0|       0|           0|    15-12-2013|              16|          0|          0|          0|            6|         2|          6|                 1|            1|                0|              2|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|12393.0|
|         1773|      1978|       2n Cycle|     Casado|12393.0|       0|           0|    04-12-2012|              38|          5|          6|         15|           11|         7|         13|                 1|            2|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|13533.0|
|         8812|      1979|       2n Cycle| Divorciado|13533.0|       1|           0|    10-03-2013|              45|         12|          3|          8|            8|         0|         17|                 2|            2|                0|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|14515.0|
|         8213|      1980|       2n Cycle|     Juntos|14515.0|       1|           0|    09-11-2012|              71|          6|          4|          9|            6|        36|         35|                 4|            2|                2|              3|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|14796.0|
|         1241|      1984|       2n Cycle|     Casado|14796.0|       1|           0|    17-09-2012|               1|         13|          3|          8|            7|         4|         16|                 2|            1|                0|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|15315.0|
|         8420|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|15315.0|
|        10065|      1970|       2n Cycle|     Casado|15315.0|       0|           0|    03-08-2013|              27|          7|          4|         13|           15|         8|         17|                 2|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|15716.0|
|        10995|      1988|       2n Cycle|     Casado|15716.0|       1|           0|    12-11-2012|               8|         16|          5|         30|            8|         7|         26|                 3|            3|                0|              4|            8|            0|            0|            0|            0|            0|              1|             3|     11|       0|     1|16248.0|
|         3559|      1988|       2n Cycle|     Casado|16248.0|       1|           0|    10-05-2014|              77|         12|         11|         10|            3|        12|          9|                 3|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|17003.0|
|         7235|      1975|       2n Cycle|     Casado|17003.0|       1|           0|    09-12-2013|              37|          2|          5|         12|            4|         8|          7|                 3|            2|                0|              4|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|17117.0|
|         3270|      1978|       2n Cycle|     Juntos|17117.0|       1|           0|    17-01-2013|              96|         12|         23|         38|           30|        18|          7|                 4|            3|                1|              3|            9|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|19414.0|
|         3102|      1981|       2n Cycle|     Juntos|19414.0|       1|           0|    16-10-2013|              32|          2|          3|         12|            3|         5|          7|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|19789.0|
|         6504|      1975|       2n Cycle|     Juntos|19789.0|       1|           0|    20-11-2013|              24|          2|          5|          9|           28|         6|         28|                 3|            2|                1|              3|            5|            1|            0|            0|            0|            0|              0|             3|     11|       0|     1|20130.0|
|         2106|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|20130.0|
|         3363|      1974|       2n Cycle|     Casado|20130.0|       0|           0|    17-03-2014|              99|          0|          6|          3|            7|         6|         12|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|20193.0|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-------+
only showing top 20 rows

In [412]:
#OtherWise
df3 = ( df3.withColumn('Faixaetaria', 
                     F.when(F.col('Nascimento') > 2000, F.lit('Jovem'))
                     .otherwise(F.lit('Adultos')))

).show()

+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-----------+
|ID do cliente|Nascimento|Graudeinstrução|EstadoCivil|  Renda|Crianças|Adolescentes|Datadocadastro|DiasUltimacompra|Gastovinhos|Gastofrutas|Gastocarnes|Gastopescados|Gastodoces|Gastoemouro|Comprascomdesconto|Comprasnosite|Comprasnocatalogo|Comprasnaslojas|Visitasnosite|PartCampanha3|PartCampanha4|PartCampanha5|PartCampanha1|PartCampanha2|Reclamação2anos|Custodocontato|Receita|Resposta|Filhos|Faixaetaria|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-----------+
|         5524|      1957|     Graduation|   Solteiro|58138.0|       0|           0|    04-09-2012|              58|        635|         88|        546|          172|        88|         88|                 3|            8|               10|              4|            7|            0|            0|            0|            0|            0|              0|             3|     11|       1|     0|    Adultos|
|         2174|      1954|     Graduation|   Solteiro|46344.0|       1|           1|    08-03-2014|              38|         11|          1|          6|            2|         1|          6|                 2|            1|                1|              2|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     2|    Adultos|
|         4141|      1965|     Graduation|     Juntos|71613.0|       0|           0|    21-08-2013|              26|        426|         49|        127|          111|        21|         42|                 1|            8|                2|             10|            4|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|    Adultos|
|         6182|      1984|     Graduation|     Juntos|26646.0|       1|           0|    10-02-2014|              26|         11|          4|         20|           10|         3|          5|                 2|            2|                0|              4|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|         5324|      1981|            PhD|     Casado|58293.0|       1|           0|    19-01-2014|              94|        173|         43|        118|           46|        27|         15|                 5|            5|                3|              6|            5|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|         7446|      1967|         Master|     Juntos|62513.0|       0|           1|    09-09-2013|              16|        520|         42|         98|            0|        42|         14|                 2|            6|                4|             10|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|          965|      1971|     Graduation| Divorciado|55635.0|       0|           1|    13-11-2012|              34|        235|         65|        164|           50|        49|         27|                 4|            7|                3|              7|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|         6177|      1985|            PhD|     Casado|33454.0|       1|           0|    08-05-2013|              32|         76|         10|         56|            3|         1|         23|                 2|            4|                0|              4|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|         4855|      1974|            PhD|     Juntos|30351.0|       1|           0|    06-06-2013|              19|         14|          0|         24|            3|         3|          2|                 1|            3|                0|              2|            9|            0|            0|            0|            0|            0|              0|             3|     11|       1|     1|    Adultos|
|         5899|      1950|            PhD|     Juntos| 5648.0|       1|           1|    13-03-2014|              68|         28|          0|          6|            1|         1|         13|                 1|            1|                0|              0|           20|            1|            0|            0|            0|            0|              0|             3|     11|       0|     2|    Adultos|
|         1994|      1983|     Graduation|     Casado|51381.5|       1|           0|    15-11-2013|              11|          5|          5|          6|            0|         2|          1|                 1|            1|                0|              2|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
|          387|      1976|          Basic|     Casado| 7500.0|       0|           0|    13-11-2012|              59|          6|         16|         11|           11|         1|         16|                 1|            2|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|    Adultos|
|         2125|      1959|     Graduation| Divorciado|63033.0|       0|           0|    15-11-2013|              82|        194|         61|        480|          225|       112|         30|                 1|            3|                4|              8|            2|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|    Adultos|
|         8180|      1952|         Master| Divorciado|59354.0|       1|           1|    15-11-2013|              53|        233|          2|         53|            3|         5|         14|                 3|            6|                1|              5|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     2|    Adultos|
|         2569|      1987|     Graduation|     Casado|17323.0|       0|           0|    10-10-2012|              38|          3|         14|         17|            6|         1|          5|                 1|            1|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|    Adultos|
|         2114|      1946|            PhD|   Solteiro|82800.0|       0|           0|    24-11-2012|              23|       1006|         22|        115|           59|        68|         45|                 1|            7|                6|             12|            3|            0|            0|            1|            1|            0|              0|             3|     11|       1|     0|    Adultos|
|         9736|      1980|     Graduation|     Casado|41850.0|       1|           1|    24-12-2012|              51|         53|          5|         19|            2|        13|          4|                 3|            3|                0|              3|            8|            0|            0|            0|            0|            0|              0|             3|     11|       0|     2|    Adultos|
|         4939|      1946|     Graduation|     Juntos|37760.0|       0|           0|    31-08-2012|              20|         84|          5|         38|          150|        12|         28|                 2|            4|                1|              6|            7|            0|            0|            0|            0|            0|              0|             3|     11|       0|     0|    Adultos|
|         6565|      1949|         Master|     Casado|76995.0|       0|           1|    28-03-2013|              91|       1012|         80|        498|            0|        16|        176|                 2|           11|                4|              9|            5|            0|            0|            0|            1|            0|              0|             3|     11|       0|     1|    Adultos|
|         2278|      1985|       2n Cycle|   Solteiro|33812.0|       1|           0|    03-11-2012|              86|          4|         17|         19|           30|        24|         39|                 2|            2|                1|              3|            6|            0|            0|            0|            0|            0|              0|             3|     11|       0|     1|    Adultos|
+-------------+----------+---------------+-----------+-------+--------+------------+--------------+----------------+-----------+-----------+-----------+-------------+----------+-----------+------------------+-------------+-----------------+---------------+-------------+-------------+-------------+-------------+-------------+-------------+---------------+--------------+-------+--------+------+-----------+
only showing top 20 rows

## 4 - NÍVEL SPARK **SQL**


A) Utilizar no minimo 5 consultas diferentes utilizando o SparkSQL, comentando o porquê de ter escolhido essas funções e explicando o que cada consulta faz.

In [ ]:
df.createOrReplaceTempView(EstadoCivil)

# **5 - EXTRAS**