<a href="https://colab.research.google.com/github/eumoas/Data-Engineer/blob/main/spark_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL OUTER JOIN

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 46.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=23568efbe126009864dbc562338f4e2ed131b01e34db4c5b35b9d1911da3f307
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [ ]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('aulaSpark')
                .config('spark.ui.port',  '4050')
                .getOrCreate()
)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
schema = ['id', 'nome', 'salario']

dados = [
         (1, 'João', 2000),
         (2, 'Maria', 5000),
         (3, 'Pedro', 8300),
         (4, 'Gustavo', 1200),
         (5, 'Ana', 10000),
         (6, 'Vitoria', 7500),
         (7, 'Carlos', 4800),
         (8, 'Claudia', 4300),
         (9, 'Andre', 2400),
]
df1 = spark.createDataFrame(data=dados, schema=schema)

In [ ]:
schema = ['id', 'cidade', 'estado']

dados = [
         (1, 'São Paulo', 'SP'),
         (2, 'Curitiba', 'PR'),
         (3, 'Fortaleza', 'CE'),
         (4, 'Ribeirão Preto', 'SP'),
         (8, 'Belo Horizonte', 'MG'),
         (9, 'Goiania', 'GO'),
         (10, 'Sobral', 'CE'),
         (11, 'Salvador', 'BA'),
         (12, 'São Luis', 'MA'),
]
df2 = spark.createDataFrame(data=dados, schema=schema)

In [ ]:
df1.show()

+---+-------+-------+
| id|   nome|salario|
+---+-------+-------+
|  1|   João|   2000|
|  2|  Maria|   5000|
|  3|  Pedro|   8300|
|  4|Gustavo|   1200|
|  5|    Ana|  10000|
|  6|Vitoria|   7500|
|  7| Carlos|   4800|
|  8|Claudia|   4300|
|  9|  Andre|   2400|
+---+-------+-------+

In [ ]:
df2.show()

+---+--------------+------+
| id|        cidade|estado|
+---+--------------+------+
|  1|     São Paulo|    SP|
|  2|      Curitiba|    PR|
|  3|     Fortaleza|    CE|
|  4|Ribeirão Preto|    SP|
|  8|Belo Horizonte|    MG|
|  9|       Goiania|    GO|
| 10|        Sobral|    CE|
| 11|      Salvador|    BA|
| 12|      São Luis|    MA|
+---+--------------+------+

In [ ]:
#INNER JOIN
df_inner = df1.join(df2, on=['id'], how='inner')

df_inner.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

In [ ]:
#LEFT JOIN, LEFTOUTER, LEFT_OUTER

df_left = df1.join(df2, on=['id'], how='left')

df_left.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

In [ ]:
#RIGHT JOIN

df_right = df1.join(df2, on=['id'], how='right')

df_right.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
#FULL, OUTER, FULLOUTER, FULL_OUTER
df_full = df1.join(df2, on=['id'], how='full')

df_full.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+